.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 300px;
    margin-right: 10px;
    padding: 1px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 12px 0 0 0;
    border-radius: 8px;
    background-color: var(--background-color2);
}

.header__navigation .navigation {
    display: flex;
    align-items: center;
    width: 100%;
}

.header__navigation .navigation .arrow-left {
    margin-right: 10px;
}

.header__navigation .navigation .arrow-right {
    margin-right: auto;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 100%;
    background: var(--bg-icon-color1);
    background-color: var(--icon-color1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 4px;
}

.header__login {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__search{
    display: flex;
    align-items: center;
    background-color: var(--background-color3);
    border-radius: 500px;
    border: 1px solid transparent;
    width: 364px;
    height: 48px;
    margin-left: 15px;
    margin-right: 15px;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input {
    background-color: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: var(--font-color1);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribe {
    color: var(--font-color3);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: var(--background-color1);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}

.main-content {
    background: linear-gradient(360deg, var(--background-color2) 40%, var(--background-color5));
    margin: 13px 0 15px 0;
    padding: 15px 18px;
    border-radius: 8px;
    height: calc(100% - 195px);
    font-weight: 1000;
    color: var(--font-color1);
}

.main-content .main-content__title {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 30px;
}

.main-content .main-content__subtitle {
    
}