html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color1);
    width: 100vw;
    height: 100vh;
    font-family: var(--font-dm-sans), sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: var(--background-color2);
    border-radius: 8px;
    padding-top: 16px;
}

.sidebar .logo {
    background: var(--background-color2);
    display: flex;
    border-radius: 8px;
    padding: 5px 0 0 20px;
}

.sidebar .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 8px;
    padding: 0 20px 10px 21px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: var(--font-color2);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a span:first-child {
    width: 45px;
    font-size: 22px;
    align-self: flex-start;
}

.sidebar nav ul li a span:last-child {
    font-size: 15px;
}

.library {
    background-color: var(--background-color2);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: var(--font-color2);
    margin-top: 14px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    margin-right: 10px;
    color: var(--font-color2);
    background-color: transparent;
    border: 0;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.library .library__button span:first-child {
    font-size: 22px;
    width: 50px;
}

.library .library__button span:last-child {
    font-size: 15px;
    font-weight: 600;
}

.library .library__content .fa-plus {
    margin: 22px 20px 0 0;
    cursor: pointer;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--background-color3);
    color: var(--font-color2);
    font-weight: 600;
    font-size: 15px;
    margin: 8px 0;
    padding: 16px;
    border-radius: 8px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: var(--font-color1);
}

.section-playlist__content .title {
    font-weight: 700;
    font-size: 20px;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    background-color: var(--font-color1);
    color: var(--background-color1);
    border-radius: 28px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0;
    width: 113px;
    margin-top: 12px;
    cursor: pointer;
}

.sidebar .cookies {
    margin: 20px 25px;
}

.sidebar .cookies a {
    text-decoration: none;
    color: var(--font-color2);
    font-size: 15px;
    font-weight: 500;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    background-color: transparent;
    border: 1px solid var(--background-color4);
    color: var(--font-color1);
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    margin: 8px 15px 20px 16px;
    padding: 8px;
    border-radius: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 12px;
    padding: 10px 25px;
    background: linear-gradient(90deg, var(--linear-color1) 0, var(--linear-color2));
    color: var(--font-color1);
}

.footer .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer__content .footer__mensagem {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 14px;
}

.footer .footer__content .footer__mensagem p:first-child {
    font-weight: bold;
    font-size: 13px;
}

.footer .footer__content .footer__button {
    border: 0;
    background-color: var(--font-color1);
    padding: 15px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
    width: 190px;
    cursor: pointer;
}