:root {
    /* FONTES */
    --font-dm-sans: "DM Sans", sans-serif;

    /* CORES */
    --background-color1: #000;
    --background-color2: #121212;
    --background-color3: #242424;
    --background-color4: #878787;

    --font-color1: #fff;
    --font-color2: #b3b3b3;
    --font-color3: #a7a7a7;

    --linear-color1: #eb04c4;
    --linear-color2: #136add;

    --bg-icon-color1: #131313;
    --icon-color1: rgba(0, 0, 0, 0.7);
}